.PostingQuestion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(249, 249, 249, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    z-index: 10;
}

.Posting-Form {
    width: 90%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Posting-Form h3 {
    margin-bottom: 10px;
    text-align: center;
}

.Posting-Form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical;
}

.Posting-Form-Buttons {
    display: flex;
    justify-content: space-between;
}

.Posting-Form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.Posting-Form button[type="button"] {
    background-color: #6c757d;
}

.Posting-Form button:hover {
    background-color: #0056b3;
}

.Posting-Form button[type="button"]:hover {
    background-color: #5a6268;
}


